@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
.cards{
  width:300px;
  overflow:hidden;
  box-shadow: 0 0 15px -5px;
  transition: ease 0.3s;
  animation: ease-in-out;
  color: aliceblue;
  background-color: white;
  z-index: 999;
  margin-top: 1rem;
  margin-left: 6rem;


}

.cards:hover{
  transform: scale(1,1);
  box-shadow: 0 0 15px 0px;
}