@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

.heading{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  position:relative;
  margin-top: 2rem;
  margin-left: 5rem;
  text-align: center;
  align-items: center;

}