*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}
body.light{
  background: #d1dae3;
}
.clock{
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(clock.png);
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255,255,255,0.05), inset  0 -15px 15px rgba(255,255,255,0.05),  0 15px 15px rgba(0,0,0,0.3),
  0 15px 15px rgba(0,0,0,0.3)
  ;
}
body.light .clock{
  border: 4px solid #cad3dc;
  box-shadow: -8 -8px 15px rgba(255,255,255,0.5), 10px 10px 10px rgba(0,0,0,0.1), inset  -8px -8px 15px  rgba(255,255,255,0.5),
   inset 10px 10px 10px rgba(0,0,0,0.1)
  ;
}
.clock::before{
  content:'';
  position:absolute;
  width: 15px;
  height: 15px;
  background:#fff;
  border-radius: 50%;
  z-index: 10000;
}
.clock::before body.light{
  background: #008eff;
}
.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour, .hr{
  width: 160px;
  height: 160px;
}

.clock .min, .mn{
  width: 190px;
  height: 190px;
}
.clock .sec, .s{
  width: 230px;
  height: 230px;
}

.hr, .mn, .s
{
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.hr::before{
  content: '';
  position: relative;
  width: 8px;
  height: 80px;
  background: crimson;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.s:before{
  content: '';
  position: relative;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

@media only screen and (max-width: 500px)
{
  .clock{
    width: 250px;
    height: 250px;
  }
 
  .hr::before{
    content: '';
    position: relative;
    top: 20px;
    width: 8px;
    height: 70px;
    background: crimson;
    z-index: 10;
    border-radius: 6px 6px 0 0;
  }
  .mn:before{
    content: '';
    position: relative;
    top: 20px;
    width: 4px;
    height: 80px;
    background: #fff;
    z-index: 10;
    border-radius: 6px 6px 0 0;
  }
  .s:before{
    top: 30px;
    height: 110px;

  }
  
}