body{
  font-family: 'Cairo', sans-serif;
  background-color: rgb(238, 240, 218);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  position: relative;
  background-color: beige;
  color: #333;
  padding-top: calc(var(70px) + 30px);
  font-size: 16px;
}
.container-nav {
  max-width: 1600px;
  margin: auto;
}

.content {
  padding: 15px;
}

/* top nav */
.nav-wrapper {
  background-color: rgb(190, 98, 98);
  box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px;
  z-index: 99;
}

.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 900;
}

.logo i {
  color: rgb(83, 33, 33);
}
.heading {
  margin: 8rem 0 0 20rem;
  font-family: "Cairo" sans-serif;
  font-weight: 700;
  color: #444;
  padding: 2rem;
}

/*table*/
.table{
  align-items: center;
  text-align: center;
  margin-left: 10px;
  width: 100%;
  background-color:rgb(190, 87, 87);
  color: aliceblue;
}

.button{
  margin: 4rem 0 0 35rem;
  background-color: rgb(190, 87, 87);
  color: white;
  font-family: "Cairo", sans-serif;
  font-weight:700px;
  height: 70px;
  width: 90px;
  font-size: 1.5rem;
  padding: 5px;
}


/* footer */
.footer {
  background-color: wheat;
  font-size: 1rem;
  position: absolute;
  width:100%;
  top:410px;
  text-align: center;
}
/* end footer */