.card-container{
  width:300px;
  overflow:hidden;
  box-shadow: 0 0 15px -5px;
  transition: ease 0.3s;
  animation: ease-in-out;

}
.image-container img{
  overflow: hidden;
  height: 200px;
}
.card-container:hover{
  transform: scale(1,1);
  box-shadow: 0 0 15px 0px;
}